<h1> This is {{user.username}}'s team! </h1>
<a href="#!/home">Home</a>
<button ng-click="season()">season</button>
<button ng-click="today()">today</button>

<div class="table-container">
<table class="table table-striped table-sm table-bordered">
    <thead>
        <tr>
            <th scope="col">Batters</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <thead class="thead-dark">
        <tr>
            <th title="Position" scope="col">Pos</th>
            <th title="Player Name" scope="col">Player</th>
            <th title="Hits/At Bats" scope="col">H/AB</th>
            <th title="Runs Scored" scope="col">R</th>
            <th title="Home Runs" scope="col">HR</th>
            <th title="Runs Batted In" scope="col">RBI</th>
            <th title="Stolen Bases" scope="col">SB</th>
            <th title="Batting Average" scope="col">AVG</th>
            <th title="On base plus slugging percentage" scope="col">OPS</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="batter in batters">
            <th scope="row">TBD</th>
            <td>{{batter.name}}</td>
            <td>{{batter.h_ab}}</td>
            <td>{{batter.runs}}</td>
            <td>{{batter.hr}}</td>
            <td>{{batter.rbi}}</td>
            <td>{{batter.sb}}</td>
            <td>{{batter.avg}}</td>
            <td>{{batter.ops}}</td>
        </tr>
    </tbody>
</table>


<table class="table table-striped table-sm table-blue table-bordered">
    <thead>
        <tr>
            <th scope="col">Pitchers</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <thead class="thead-dark">
        <tr>
            <th title="Position" scope="col">Pos</th>
            <th title="Player Name" scope="col">Player</th>
            <th title="Innings Pitched" scope="col">IP</th>
            <th title="Hits given up" scope="col">Hits</th>
            <th title="Earned Runs" scope="col">ER</th>
            <th title="Walks" scope="col">BB</th>
            <th title="Strike Outs" scope="col">K</th>
            <th title="Quality Starts" scope="col">QS</th>
            <th title="Wins" scope="col">W</th>
            <th title="Saves" scope="col">SV</th>
            <th title="Earned Run Average" scope="col">ERA</th>
            <th title="Walks plus Hits divided by Innings Pitched" scope="col">WHIP</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pitcher in pitchers">
            <th scope="row">TBD</th>
            <td>{{pitcher.name}}</td>
            <td>{{pitcher.ip}}</td>
            <td>{{pitcher.hits}}</td>
            <td>{{pitcher.er}}</td>
            <td>{{pitcher.walks}}</td>
            <td>{{pitcher.strikeouts}}</td>
            <td>{{pitcher.qs}}</td>
            <td>{{pitcher.wins}}</td>
            <td>{{pitcher.saves}}</td>
            <td>{{pitcher.era}}</td>
            <td>{{pitcher.whip}}</td>
        </tr>
    </tbody>
</table>
</div>
